$v-app-loading-text: "Loading...";
$v-font-family: "Palatino Linotype", "Book Antiqua", serif;
$v-layout-margin-top: 12px;
$v-layout-margin-right: 12px;
$v-layout-margin-bottom: 12px;
$v-layout-margin-left: 12px;

@import "../valo/valo";

.kibi {
    @include valo;
}

.v-label-register_label {
    color: greenyellow;
    text-decoration: underline;
}

.register .v-button-caption {
    color: white;
    border-color: white;
    background: transparent;
}

.register .FontAwesome {
    color: white;
}

.v-icon {
    color: darkgray;
    font-size: 20px;
}

.no-toolbar .gwt-RichTextToolbar-bottom {
    display: none;
}

.header_button .v-icon:hover {
    color: #1b87e3;
}

.tag_item {
    font-size: 12px;
    margin: 7px 0px 0px 7px;
}

.tag_item .v-menubar {
    border-radius: 13px;
    background: transparent;
    color: #1b87e3;
}

.profile_menu .v-menubar {
    border: none;
    background: transparent;
}

.tag_item .v-icon {
    font-size: 14px;
    color: #1b87e3;
}

.panel_footer {
    border-top: 1px solid #d5d5d5 !important;
    border-bottom: none !important;
}

.status_label {
    line-height: 20px !important;
    font-size: 12px;
}

.status_label .v-icon {
    font-size: 14px;
}