$v-app-loading-text: "Loading...";
$v-font-family: "Palatino Linotype", "Book Antiqua", serif;
$v-font-size: 14px;
$v-layout-margin-top: 6px;
$v-layout-margin-right: 6px;
$v-layout-margin-bottom: 6px;
$v-layout-margin-left: 6px;
$v-layout-spacing-horizontal: 6px;
@import "../valo/valo";

.kibi {
    @include valo;
}

.v-panel-caption input[type="text"] {
    height: 22px !important;
}

.v-label-register_label {
    color: greenyellow;
    text-decoration: underline;
}

.register .v-button-caption {
    color: white;
    border-color: white;
    background: transparent;
}

.register .FontAwesome {
    color: white;
}

.v-icon {
    color: darkgray;
    font-size: 15px;
}

.no-toolbar .gwt-RichTextToolbar-bottom {
    display: none;
}

.header_button .v-icon:hover {
    color: #1b87e3 !important;
}

.header_button {
    color: darkgray !important;
}

.tag_item {
    border: 1px solid #c5c5c5;
    border-radius: 10px;
    border-top-color: #c5c5c5;
    border-bottom-color: #bcbcbc;
    background-color: #fafafa;
    background-image: -webkit-linear-gradient(top, #fafafa 2%, #efefef 98%);
    background-image: linear-gradient(to bottom,#fafafa 2%, #efefef 98%);
    -webkit-box-shadow: inset 0 1px 0 white, inset 0 -1px 0 #e7e7e7, 0 2px 3px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 white, inset 0 -1px 0 #e7e7e7, 0 2px 3px rgba(0, 0, 0, 0.05);
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.05);
    margin: 7px 0px 0px 7px;
    padding: 6px;
    font-size: 12px;
    color: #1b87e3;
}

.tag_item:hover {
    border: 2px solid #1b87e3;
}

.tag_item .tag_close .v-icon {
    font-size: 12px;
    color: darkgray;
}

.tag_item .tag_icon .v-icon {
    font-size: 12px;
    color: #1b87e3;
}

.profile_menu .v-menubar {
    border: none;
    background: transparent;
}

.panel_footer {
    border-top: 1px solid #d5d5d5 !important;
    border-bottom: none !important;
}

.status_label {
    font-size: 12px;
    margin-left: 10px;
}

.status_label .v-icon {
    font-size: 14px;
}

//.v-tree-node-caption {
//    //line-height: 23px !important;
//    height: 21px !important;
//    font-size: 14px !important;
//}

//.v-tree-node-caption .v-icon {
//    font-size: 14px;
//}

.avatar_panel {
    border: 1px solid darkgray;
    border-radius: 3px;
}

.avatar_panel .v-icon {
    font-size: 58px !important;
    line-height: 58px !important;
    margin-left: 5px;
}

.avatar_panel img {
    height: 60px !important;
}