$v-app-loading-text: "Loading...";
$v-font-family: "Palatino Linotype", "Book Antiqua", serif;
$v-layout-margin-top: 12px;
$v-layout-margin-right: 12px;
$v-layout-margin-bottom: 12px;
$v-layout-margin-left: 12px;

@import "../valo/valo";

.kibi {
    @include valo;
}

.v-label-register_label {
    color: greenyellow;
    text-decoration: underline;
}

.register .v-button-caption {
    color: white;
    border-color: white;
    background: transparent;
}

.register .FontAwesome {
    color: white;
}

.v-icon {
    color: darkgray;
    font-size: 20px;
}

.no-toolbar .gwt-RichTextToolbar-bottom {
    display: none;
}

.header_button .v-icon:hover {
    color: #1b87e3;
}