<table align="center" cellspacing="10"
       style="width: 320px; height: 240px; color: #fff; padding: 10px;
	background: #2167be repeat-x">
    <tr>
        <td colspan="2">
            <h1 style="margin-top: 0; color: aliceblue;">Вход в систему</h1>
        <td>
    </tr>
    <tr>
        <td align="right">Логин:</td>
        <td>
            <div location="login"></div>
        </td>
    </tr>
    <tr>
        <td align="right">Пароль:</td>
        <td>
            <div location="password"></div>
        </td>
    </tr>
    <tr>
        <td align="left">
            <div location="register"></div>
        </td>
        <td align="right" colspan="2">
            <div location="submit" style="padding: 10px;"></div>
        </td>
    </tr>
    <tr>
        <td align="left" colspan="2" style="padding: 2px; /*background-color: #187abe;*/">
            <div location="forgot" style=""></div>
        <td>
    </tr>
</table>